<br>
<h3><%= @merchant.name %> Deals</h3>

<div class="btn-group" id="right-side-bar">
  <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Upcoming Holidays
  </button>
  <ul class="dropdown-menu">
    <% @holidays.each do |holiday, date| %>
      <li><strong><%= holiday %></strong>
        <%= date.to_date.strftime('%A %B %e, %Y') %><li>
    <% end %>
  </ul>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Discount Percentage</th>
      <th scope="col">Quantity</th>
      <th scope="col">View</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <% @discounts.each do |discount| %>
  <div id="discount-<%= discount.id %>"
  <tbody>
    <tr>
      <th scope="row"><%= @discounts.index(discount) + 1 %></th>
      <td><%= number_to_percentage(discount.percentage, precision: 0) %></td>
      <td><%= discount.quantity_threshold %> items</td>
      <td><%= link_to 'View Details', merchant_discount_path(@merchant.id, discount.id), class: 'btn btn-secondary' %></td>
      <td><%= link_to 'Remove Discount', "/merchants/#{@merchant.id}/discounts/#{discount.id}", method: :delete, class: 'btn btn-danger' %></td>
    </tr>
  </tbody>
</div>
  <% end %>
</table>

<br>
<br>

<%= link_to 'New Discount', new_merchant_discount_path(@merchant.id), class: 'btn btn-success'  %>
