<h1>New Discount Page</h1>

<%= form_with url: "/merchants/#{@merchant.id}/discounts", method: :post, local: true do |form| %>
  <%= form.label :percentage %><br>
  <%= form.number_field :percentage %>%<br>
  <br>
  <%= form.label :quantity_threshold %><br>
  <%= form.number_field :quantity_threshold %><br>
  <br>
  <%= form.submit 'Submit' %>
<% end %>
